*{
    color: antiquewhite;
}

body{
    background-color: black;
}
h1{
    color: antiquewhite;
}

.mov {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    gap: 50px;

}

.mov img {
    height:auto;
    width: 200px;
    object-fit:contain;
    border: 2px solid black;
    border-radius: 10px;    
    background-color:black;
    box-shadow: 3px 3px 2px grey;
}

